@font-face{
  font-family: 'toronto-bluejays';
  font-style: normal;
  font-weight: normal;
  src: local('Toronto-BlueJays'), url('TorontoBlueJaysWilson.otf') format('otf');
}


body,
html {
  height: 100%;
  margin: 0;
  background-color: black;
}

h1, h3{
  font-family: 'Permanent Marker', cursive;
  color: white;
  text-align: center;
}

/*MENU*/
/*Hamburger Part*/
.nav-trigger {
  position: fixed;
  width: 110px;
  height: 100px;
  left: 0px;
  top: 0px;
  z-index: 200;
}
.nav-trigger.open {
  background: transparent;
}
.nav-trigger.close {
  background: transparent;
}
.line {
  display: block;
  position: absolute;
  width: 80px;
  height: 8px;
  background: #fff;
  left: 15px;
  transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.24s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.line:nth-child(1) {
  top: 16px;
}
.line:nth-child(2) {
  top: 44px;
}
.line:nth-child(3) {
  top: 72px;
}
.close .line:nth-child(1) {
  transform: translateY(25px) rotate(45deg);
  background: #fff;
}
.close .line:nth-child(2) {
  opacity: 0;
}
.close .line:nth-child(3) {
  transform: translateY(-31px) rotate(-45deg);
  background: #fff;
}
/*NAV BAR Part*/
nav {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
}
nav.out {
  pointer-events: none;
}
nav.in {
  pointer-events: auto;
}
nav ul,
li {
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
}
nav ul {
  height: 100%;
  width: 100%;
  position: absolute;
}
nav li {
  height: 20%;
  position: relative;
  background-color: #222;
  color: #fff;
}
nav li:hover {
  background: #333;
}
nav.in li {
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s, opacity 0.5s linear 0.1s;
}
nav.out li {
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s, opacity 0.5s linear 0.1s;
}
/*nav.in li:nth-child(1){
  transition: transform 0.5s cubic-bezier()
}
*/
nav.out li {
  transform: translateY(-500%);
  opacity: 0;
}
nav.in li {
  transform: translateY(0);
  opacity: 1;
}
.nav-label {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  height: 16px;
  top: 50%;
  margin-top: -8px;
  font-size: 30px;
}



.wrapper {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.hero {
  /*background-color: #999;
	padding: 80px 0px;*/
  background: url(../images/gs.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;

}
#heroLogo {
  width: 100%;
  margin: 0 auto;
  padding-top: 420px;
  img{
  	height: 100%;
  	width: 100%;
  }
 /* img:hover{
  	 -webkit-transform: scale(1.3);
     -ms-transform: scale(1.3);
     transform: scale(1.3);
     transition-duration: .3s;
  }*/
  h1{
    width: 100%;
  	color: white;
  	text-align: center;
    font-size: 5vw;
  	font-family: 'Permanent Marker', cursive;
  }
}

.main {
  padding: 80px 0px;
  height: 1300px;
  background-color: black;
  overflow-y: scroll;
  h1{
	font-size: 64px;
  	color: white;
  	margin: 0 auto;
  	text-align: center;
  	padding-bottom: 20px;
    font-family: 'Permanent Marker', cursive;
  }
  h2{
  	width: 70%;
  	margin: 0 auto;
  	font-size: 28px;
  	color: white;
  	text-align: center;
  }
  p{
  	width: 70%;
  	margin: 0 auto;
	font-size: 20px;
  	color: white;
  	text-align: center;

  }
}

.bandMember{
  color: white;
  text-align: center;
  img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 2px solid white;
  }
}

.ourStuff{
  height: 1000px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(../images/jj1.jpg) center no-repeat;
  background-size: cover;
  overflow-y: scroll;
}

#videos{
  overflow-y: scroll;
  height: 1000px;
}

.mediaContainer{
  height: 800px;
  width: 90%;
  margin:0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-y: scroll;
  iframe{
    display: inline-block;
    padding: 30px;
  }
}

.galleryContainer{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 75px;
  grid-auto-flow: dense;
  &>div{
    display: flex;
    justify-content: center;
    align-items: center;
    &>img{
      width: 100%;
      height: 100;
      object-fit: cover;
    }
  }
}
.horizontal{
  grid-column: span 2;
}
.vertical{
  grid-row: span 2;
}
.big{
  grid-column: span 2;
  grid-row: span 2;
}



/*Image Gallery*/
.gallery {
  padding: 80px 0px;
  height: 1000px;
  
  background: url("../images/images/mountain.jpg") center no-repeat;
  background-size: cover;
  h1{
    font-size: 64px;
  	color: white;
  	margin: 0 auto;
  	text-align: center;
  }
  h2{
  	font-size: 20px;
  	color: white;
  	a{
  		color: white;
  	}
  }
}
.ImageContainer{
	max-width: 1000px;
	height: 650px;
	margin: 5% auto;
	padding: 20px;
	background-color: rgba(0,0,0,0.7);
	border-radius: 10px;
	overflow: hidden;
	box-sizing: border-box;
	box-shadow: 0 0 5px #222;
	overflow-x: hidden;
	overflow-y: scroll;
}

.text-center{
	text-align: center;
	margin-bottom: 1em;
	font-size: 14px;
}

.lightbox-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  img:hover{
  	border: solid white;
  }
}

.lightbox-gallery div > img {
 height: 200px;
 width: 200px;
  display: block;
}

.lightbox-gallery div {
  margin: 10px;
  flex-basis: 100px;
}

@media only screen and (max-width: 480px) {
  .lightbox-gallery {
    flex-direction: column;
    align-items: center;
  }

  .lightbox > div {
    margin-bottom: 10px;
  }
}


/*Lighbox CSS*/


.lightbox{
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.7);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	padding-top: 30px;
	box-sizing: border-box;
}

.lightbox img{
	display: block;
  margin: auto;
  height: auto;
  width: 500px;
}

.lightbox .caption{
	margin: 15px auto;
	width: 50%;
	text-align: center;
	font-size: 1em;
	line-height: 1.5;
	font-weight: 700;
	color: #eee;
}

footer{
	height: 75px;
	background-color:black;
	padding-top: 20px;
}


